#--- $(DESC) -------------------------------------
record( stringin, "$(P):SI_$(ITEM)"){
  field( DESC, "$(DESC)")
  field( SCAN, "I/O Intr")
  field( DTYP, "asynOctetRead")
  field( INP,  "@asyn($(PORT),$(N),1)SI_$(USER)")
}
